<!DOCTYPE html>
<html>
<head>
    <title>Update User</title>
</head>
<body>
<h1>Update User</h1>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="{{ label }}">{{ message }}</div>
    {% endfor %}
{% endfor %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Update User</button>
{{ form_end(form) }}
</body>
</html>
